/* padrão 
===============================================================================================
*/

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: 1.5vmin;
}

body {
    width: 90%;
    margin: auto;
    background-color: #ffffff;
    color: #1a0021;
}

main {
    background-color: #ffffff97;
}

a {
    text-decoration: none;
}

:root {
    --shadowSection: 0px 0px 20px 2px rgb(40, 59, 79);
}


/* TESTE */
/* main * {
    border: 1px solid blue;
} */

/* TESTE */


/* cabecalho
===============================================================================================
*/


header {

    position: relative;
    margin-bottom: 2rem;
}

header #banner {
    width: 100%;
    height: clamp(10vh, 35vw, 25vh);
    background-image: url(img/inclusao3.jpg);
    background-size: cover;
}

header .menu {
    position: absolute;
    top: 1vw;
    right: 1vw;
}

.menu .itenMenu {
    width: 4vw;
    height: 6vh;
    display: inline-block;
}

.menu .itenMenu:nth-child(1) {
    background-image: url(icones/icons8-book-reading-30.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.menu .itenMenu:nth-child(2) {
    background-image: url(icones/icons8-info-squared-30.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* Convite
===============================================================================================
 */

#convite {
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
}

#convite>#container {
    display: flex;
    align-items: center;
    position: relative;
    animation-name: rolagemConvite;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 55%;

}

#convite #container img {

    height: clamp(5vh, 3em, 6vh);
    padding-right: 10px;
}

#convite #container h2 {
    font-size: 1.3rem;
}

@keyframes rolagemConvite {
    0% {
        left: 0%;
        opacity: 0%;
    }

    10% {
        opacity: 100%;
    }

    80% {
        opacity: 90%;
    }

    100% {
        left: 47%;
        opacity: 0%;
    }
}

/*
seção 1
============================================================================================== 
 */

#conteudo1 {
    display: flex;
    margin-bottom: 1rem;
}

#conteudo1>#container {
    padding-top: 5%;
    background-color: rgba(144, 196, 255, 0.063);
    position: relative;
    box-shadow: var(--shadowSection);
    height: 80%;
    width: 97%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#conteudo1 #texto {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#conteudo1 #texto h2 {
    width: 100%;
    font-size: 2.3rem;
    text-align: left;
    font-weight: bold;
}

#conteudo1 #texto blockquote {
    width: 100%;
    font-size: 1.4rem;
    margin-top: 8px;
    font-style: italic;
}

#conteudo1 #texto p {
    width: 100%;
    height: 50%;
    font-size: 1.5rem;
    margin-top: 14px;
    text-align: left;
}

#conteudo1 #imgDestaque {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    content: url(img/foto2.png);
    object-fit: contain;
}

/*
seção 2
============================================================================================== 
 */

#conteudo2 {
    display: flex;
    margin-bottom: 1rem;

}

#conteudo2 #container {
    display: flex;
    flex-direction: column;
    background-color: rgba(144, 196, 255, 0.063);
    box-shadow: var(--shadowSection);
    padding: 40px 0px;
    height: 80%;
    width: 97%;
    margin: auto;
}

#conteudo2 #top {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

#conteudo2 #texto {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#conteudo2 #texto p {
    width: 100%;
    height: 50%;
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: left;
}

#conteudo2 #texto p a {
    text-decoration: none;
    font-style: inherit;
    font-size: 1rem;
}

#conteudo2 #imgDestaque {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    content: url(img/foto1.png);
    object-fit: contain;

}

#conteudo2 #referencia {
    display: flex;
}

#conteudo2 #referencia a {
    display: flex;
    flex-direction: column;
    font-size: small;
    margin-left: 15px;
    align-items: center;
    flex: 0.1;
}

#conteudo2 #referencia .item {
    display: inline-block;
    width: 50px;
    height: 50px;
}

#conteudo2 #referencia a:nth-child(1) div {
    content: url(icones/saibaMais.png);
}

#conteudo2 #referencia a:nth-child(2) div {
    content: url(icones/icons8-info-squared-30.png);
}


/* 
seção 3
===================================================================================================================
*/
#conteudo3 {
    display: flex;
    margin-bottom: 1rem;

}

#conteudo3 #container {
    width: 97%;
    padding: 40px 0px;
    margin: auto;
    display: flex;
    background-color: rgba(144, 196, 255, 0.063);
    box-shadow: var(--shadowSection);
    justify-content: space-around;

}

#conteudo3 #container #texto {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

#conteudo3 #container #texto p {
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: bold;
}


#conteudo3 #container #sugestao {
    width: 100%;
    display: flex;
    flex-direction: column;

}

#conteudo3 #container #sugestao #sites {
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#conteudo3 #container #sugestao #sites h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: left;

}

#conteudo3 #container #sugestao #sites p {
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: 400;
}

#conteudo3 #container #sugestao #sites ul,
li,
a {
    list-style: none;
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: 400;
}



#conteudo3 #container #sugestao #canais {}

#conteudo3 #container #sugestao #canais h2 {
    font-size: 1.7rem;
    margin-bottom: 20px;
    font-weight: 400;

}


#conteudo3 #container #sugestao>#itens {
    display: flex;
    flex-wrap: wrap;
}

#conteudo3 #container #sugestao .item {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin: 5px;
    background-color: black;
    display: flex;
    float: left;
}

#conteudo3 #imgDestaque {
    width: 40rem;
    content: url(https://img.freepik.com/vetores-gratis/conceito-de-tutoriais-online_52683-37481.jpg?w=2000);
    object-fit: cover;
}


/* 
seção4
===============================================================================================
*/
#conteudo4 {
    display: flex;
    margin-bottom: 1rem;

}

#conteudo4 #container {
    width: 97%;
    padding: 40px 0px;
    margin: auto;
    display: flex;
    background-color: rgba(144, 196, 255, 0.063);
    box-shadow: var(--shadowSection);

}

#conteudo4 #container #player {
    width: 47%;
    height: 40vh;
    display: flex;
    justify-content: center;

}

#conteudo4 #container #player video {
    width: 95%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.572);
}

#conteudo4 #objetivo {
    width: 49%;
    margin: auto;
    display: flex;
    padding-top: 2.5rem;
    justify-content: center;
    align-items: center;
}

#conteudo4 #objetivo #texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
}

#conteudo4 #objetivo #imgDestaque {
    width: 8vw;
    height: 25vh;
    content: url(img/Scratch1.png);
    object-fit: contain;

}

#conteudo4 #objetivo #texto h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#conteudo4 #objetivo #texto span {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
}

#conteudo4 #objetivo #texto h3 {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 5px;
}

#conteudo4 #objetivo #texto p {
    font-size: 1.2rem;
    text-align: center;
}


/* 
-------------------------------------------------------------------------------------------------------------------
*/



@media screen and (max-width:768px) {


    body {
        width: 100%;
    }

    #convite #container h2 {
        font-size: 1.4rem;
        font-weight: bolder;
    }

    /*
    seção 1
    ============================================================================================== 
     */

    #conteudo1 {
        display: flex;
        margin-bottom: 2rem;
    }

    #conteudo1>#container {
        padding: 20px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    #conteudo1 #texto {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #conteudo1 #texto h2 {
        width: 100%;
        font-size: 5rem;
    }

    #conteudo1 #texto blockquote {
        width: 100%;
        font-size: 2rem;
    }

    #conteudo1 #texto p {
        width: 100%;
        font-size: 2.5rem;
    }

    #conteudo1 #imgDestaque {
        margin-top: 1.5rem;
        width: 80%;
    }

    /*
    seção 2
    ============================================================================================== 
     */

    #conteudo2 {
        display: flex;
        margin-bottom: 2rem;

    }

    #conteudo2 #container {
        background-color: rgba(144, 196, 255, 0.063);
        box-shadow: var(--shadowSection);
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    #conteudo2 #top {
        display: flex;
        flex-direction: column;
    }

    #conteudo2 #texto {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #conteudo2 #texto p {
        width: 100%;
        font-size: 2.5rem;
        margin-top: 3rem;
        text-align: left;
    }

    #conteudo2 #texto p a {
        text-decoration: none;
        font-style: inherit;
        font-size: 1rem;
    }

    #conteudo2 #imgDestaque {
        width: 80%;
        margin: auto;
    }

    #conteudo2 #referencia {
        justify-content: flex-end;
    }

    #conteudo2 #referencia a {
        font-size: 2rem;
        flex: 0.2;
    }

    #conteudo2 #referencia .item {
        display: inline-block;
        width: 8rem;
        height: 8rem;
    }

    /* 
    seção 3
    ===================================================================================================================
    */
    #conteudo3 {
        display: flex;
        margin-bottom: 2rem;

    }

    #conteudo3 #container {
        width: 100%;
        padding: 20px;
        display: flex;
        background-color: rgba(144, 196, 255, 0.063);
        box-shadow: var(--shadowSection);
        flex-direction: column;

    }

    #conteudo3 #container #texto {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    #conteudo3 #container #texto p {
        font-size: 2.5rem;
        margin-bottom: 20px;
        font-weight: 500;
    }


    #conteudo3 #container #sugestao {
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    #conteudo3 #container #sugestao #sites {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #conteudo3 #container #sugestao #sites h2 {
        font-size: 4rem;
        margin: 20px 0px;
        font-weight: 400;
        text-align: left;

    }

    #conteudo3 #container #sugestao #sites p {
        font-size: 2.5rem;
        margin-bottom: 20px;
        font-weight: 400;
    }

    #conteudo3 #container #sugestao #sites ul,
    li,
    a {
        font-size: 2.5rem;
        margin-bottom: 10px;
        font-weight: 400;
    }

    #conteudo3 #container #sugestao #canais {}

    #conteudo3 #container #sugestao #canais h2 {
        font-size: 3rem;
        margin-bottom: 20px;
        font-weight: 400;

    }


    #conteudo3 #container #sugestao>#itens {
        display: flex;
        flex-wrap: wrap;
    }

    #conteudo3 #container #sugestao .item {
        width: 13rem;
        height: 13rem;
        border-radius: 50%;
        margin: 5px;
        background-color: black;
        display: flex;
        float: left;
    }

    #conteudo3 #imgDestaque {
        width: 60rem;
        content: url(https://img.freepik.com/vetores-gratis/conceito-de-tutoriais-online_52683-37481.jpg?w=2000);
        object-fit: cover;
    }


    /* 
    seção4
    ===============================================================================================
    */
    #conteudo4 {
        display: flex;
        margin-bottom: 1rem;

    }

    #conteudo4 #container {
        width: 100%;
        margin: auto;
        padding: 15px 0px;
        display: flex;
        background-color: rgba(144, 196, 255, 0.063);
        box-shadow: var(--shadowSection);
        flex-direction: column;

    }

    #conteudo4 #container #player {
        width: 100%;
        height: 30rem;
        display: flex;
        justify-content: center;

    }

    #conteudo4 #container #player video {
        width: 95%;
        height: 100%;
        margin: auto;
        object-fit: cover;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.572);
    }

    #conteudo4 #objetivo {
        width: 100%;
        margin: auto;
        display: flex;
        padding-top: 2.5rem;
        justify-content: center;
        align-items: center;
    }

    #conteudo4 #objetivo #texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4px;
        border-radius: 20px;
    }

    #conteudo4 #objetivo #imgDestaque {
        width: 20rem;
        height: 20rem;
        content: url(img/Scratch1.png);
        object-fit: contain;

    }

    #conteudo4 #objetivo #texto h2 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    #conteudo4 #objetivo #texto span {
        font-size: 2.5rem;
        text-align: left;
        margin-bottom: 1rem;
    }

    #conteudo4 #objetivo #texto h3 {
        font-size: 2.4rem;
        text-align: center;
        margin-bottom: 5px;
    }

    #conteudo4 #objetivo #texto p {
        font-size: 2.5rem;
        text-align: left;
        padding: 5px;
    }

}